body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.page-container {
  background-image: url('../assets/team-sitting-desk-checking-reports-talking-top-view.jpg');
  background-size: cover;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.25rem;
  margin-top: 3rem;
  text-align: center;
}

.search-bar {
  margin-bottom: 3rem;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  color: #333;
}

.search-bar input[type="text"]::placeholder {
  color: #999;
}

@media(max-width:576px) {
  .search-bar {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .container {
    text-align: center;
  }

  .event-list {
    margin-left: 0;
  }
}