.single-event-page img {
  width: 80%;
  margin: 2rem 5rem 0 5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.single-event-card-content {
  margin: 0 5rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.basic-info,
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.basic-info p {
  text-align: left;
}

.single-event-card-content h2,
.single-event-card-content p,
Iframe {
  margin-bottom: 1rem;
}

.sign-up {
  margin: 2rem 5rem;
}

.single-event-page {
  position: relative;
}

.single-event-page .overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-event-page .modal {
  padding: 4rem;
  position: relative;
  background-color: white;
}

.single-event-page .modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-event-page .modal .closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
}

@media(max-width:576px) {
  .single-event-page img {
    width: 90%;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
  }

  .single-event-card-content {
    margin: 1rem;
    max-width: 20rem;
  }

  .sign-up {
    margin: 1rem;
  }

  iframe {
    height: 10rem;
    width: 22rem;
  }

}