.event-card {
  height: 20rem;
  width: 90%;
  margin: 1rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
}

img {
  height: 20rem;
  width: 50rem;
}

.event-card-content {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}